
.menu{
background-color: green;	
	color:red;
	}

.auteurs{
	border: solid;
border: 4mm ridge rgba(211, 220, 50, .6);

}

.livres{
	border: solid;
	border: 1rem solid rgba(11, 20, 33, .6);
	text-align: center;
	
}


.pair{
	background-color: fuchsia; 
}

.impair{
	background-color: olive; 
}

.tableau{
	border: thick double;
	border : color yellow;
	 background-color: black;
}

body
{
    color: white;
    background:url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Grande_bibliotheque-Gray01.jpg/800px-Grande_bibliotheque-Gray01.jpg");
    background-position: top;
}

h2{
text-align: center;	
}
h3{
text-align: center;	
color :aqua;
}
label {
	text-align: left;
	display: inline-block;;
	width: 144px;
	
}
